/*-- scss:defaults --*/
$presentation-heading-color: black;
$presentation-title-slide-text-align: right;
$link-color: blue;
$link-color-hover: cornflowerblue;

/*-- scss:rules --*/

/*
.slide-background-content{
  background-size: 100% 100%;
}


// Logo position
.reveal .slide-logo {
  height: 150px !important;
  width: 150px !important;
  max-width: unset !important;
  max-height: unset !important;
}
// Slide numbers to the bottom-left
.slide-number, .reveal.has-logo .slide-number {
  bottom: 20px !important;
  right: 30px !important;
  top: unset !important;
  color: #D1C6B6 !important;
}

.reveal {
    transform: translate3d(0,0,0);
}
*/
.reveal h1 {
    position: fixed;
    top: 300px;
    left: 750px;
}

.reveal h2{
    margin-top: 8%;
    margin-left: 0%;
}
